@page "/listadoArticulos"

@* @using LaTiendaIS.Client.Services.Contrato; *@
@* @inject IEmpleadoService _empleadoServicio *@

@using LaTiendaIS.Shared;
@using LaTiendaIS.Client.Service.Contrato
@inject IArticuloServicio _articuloServicio
@inject IVentaServicio _ventaServicio
@inject IStockServicio _stockServicio
@inject ILineaDeVentaServicio _lineadeventaServicio

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations


@using System.Net.Http.Json

@using MudBlazor
@inject ISnackbar Snackbar
@inject NavigationManager _navManager


@inject HttpClient httpClient


@* Ingreso de codigo*@
<div class="d-flex" style="max-width: 600px; margin: 20px ; margin-top: 10px">
    <MudTextField @bind-Value="codigoTienda" Variant="Variant.Text" Label="Ingresar Codigo"></MudTextField>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ObtenerStock(codigoTienda)">Buscar</MudButton>
    
 </div>




@* Ingreso de talle*@
<div class="d-flex" style="max-width: 600px; margin: 20px ;">
    <MudSelect T="string" Label="Talles" @bind-Value="talleElegido" AnchorOrigin="Origin.BottomCenter" OnValueChanged="HandleTalleChanged">
        @foreach (var talleUnico in ListaStock.Select(art => art.Talle.DescripcionTalle).Distinct())
        {
            <MudSelectItem Value="@(talleUnico)" />
        }
    </MudSelect>
</div>

@* Ingreso de color*@
<div class="d-flex" style="max-width: 600px; margin: 20px ;">
    <MudSelect T="string" Label="Color" @bind-Value="colorElegido" AnchorOrigin="Origin.BottomCenter" TextChanged="ObtenerCantidad" >
        @foreach (var color in ListaStock.Where(art => art.Talle.DescripcionTalle == talleElegido).Select(art => art.Color.DescripcionColor).Distinct())
        {
            <MudSelectItem Value="@(color)" />
        }
    </MudSelect>
</div>

@* Ingreso de cantidad*@

<div class="d-flex" style="max-width: 600px; margin: 20px ;">
    <MudNumericField @bind-Value="cantidadElegida" Label="Cantidad" Variant="Variant.Text" Min="0" Max="cantidadMaxima" />
</div>


<div class="d-flex" style="max-width: 600px; margin: 20px ;">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => AgregarArticulo(codigoTienda)">Agregar</MudButton>
</div>

<MudTable Items="@listaArticulosModel" Dense="@dense" Hover="@hover" ReadOnly="false" CanCancelEdit="@canCancelEdit" Filter="new Func<ArticuloStockViewModel,bool>(FilterFunc)"
@bind-SelectedItem="selectedItem1" SortLabel="Ordenar por" EditTrigger="TableEditTrigger.EditButton">
    <ToolBarContent>
        <MudText Typo="Typo.h4">Listado de Articulos</MudText>
        <MudSpacer />
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col style="width:20px;" />
        <col style="width:20px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ArticuloStockViewModel, object>(x=>x.Articulo.IdCodigo)">Codigo</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ArticuloStockViewModel, object>(x=>x.Articulo.Descripcion)">Descripcion</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ArticuloStockViewModel, object>(x=>x.Articulo.PrecioDeVenta)">Precio De Venta</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ArticuloStockViewModel, object>(x=>x.Articulo.Marca.DescripcionMarca)">Marca</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<ArticuloStockViewModel, object>(x=>x.Articulo.Categoria.DescripcionCategoria)">Categoria</MudTableSortLabel></MudTh>
        <MudTh>Talle</MudTh>
        <MudTh>Color</MudTh>
        <MudTh>Cantidad</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="IdCodigo">@context.Articulo.CodigoTienda</MudTd>
    <MudTd DataLabel="Descripcion">@context.Articulo.Descripcion</MudTd>
    <MudTd DataLabel="PrecioVenta">@context.Articulo.PrecioDeVenta.ToString("0.00")</MudTd>
    <MudTd DataLabel="Marca">@context.Articulo.Marca.DescripcionMarca</MudTd>
    <MudTd DataLabel="Categoria">@context.Articulo.Categoria.DescripcionCategoria</MudTd>
    <MudTd>@context.Stock?.Talle?.DescripcionTalle</MudTd> 
    <MudTd>@context.Stock?.Color?.DescripcionColor </MudTd>
        <MudTd>@context.Stock?.Cantidad </MudTd>
    <MudTd>
        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Class="pa-0" OnClick="() => EliminarArticulo(context.Articulo.IdCodigo)" />
    </MudTd>
    </RowTemplate>
</MudTable>

<div class="d-flex" style="max-width: 200px; margin: 20px; margin-left: 80%">
    <MudTextField @bind-Value="venta1.Total" Label="Total" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" ReadOnly="true" Style="width: 100%" Step="0.01" Format="N2" />
</div>

<div class="container d-flex justify-content-between">
    <div class="d-flex" style="max-width: 300px; margin: 20px;">
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => CancelarVenta()">Cancelar</MudButton>
    </div>
    <div class="d-flex" style="max-width: 300px; margin: 20px;">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Pagar">Ir a Pagar</MudButton>
    </div>
</div>





@code {
    private List<string> editEvents = new();
    private bool dense = false;
    private bool hover = true;
    private bool ronly = false;
    private bool canCancelEdit = false;
    private bool blockSwitch = false;
    private string searchString = "";
    private int codigoTienda = 1000;
    private double? Total = 0;
    private string talleElegido = "";
    private string colorElegido = "";
    private int cantidadElegida = 0;
    private int cantidadMaxima = 0;
    private int cantidadtabla = 0;

    private ArticuloStockViewModel selectedItem1 = null;
    private HashSet<Articulo> selectedItems1 = new HashSet<Articulo>();
    private List<ArticuloStockViewModel> listaArticulosModel = new List<ArticuloStockViewModel>();
    private List<Articulo> listaArticuloss = new List<Articulo>();
    private List<Stock> ListaStock = new List<Stock>(); // se carga cuando presionamos el boton Buscar
    private List<Stock> stockTabla = new List<Stock>();
    private List<LineaDeVenta> listaLDV = new List<LineaDeVenta>();
    public Venta venta1;


    protected override async Task OnInitializedAsync()
    {
        venta1 = new Venta();
        venta1.FechaVenta = DateTime.Now;
        var response = await _ventaServicio.AgregarVenta(venta1);
        if(response!=null)
        {
            var lista = await _ventaServicio.ListarVentas();
            venta1 = lista.LastOrDefault();
        }

    }

    private void HandleTalleChanged(string nuevoTalle)
    {
        // Este método se ejecutará cuando cambie el valor del primer MudSelect
        // Puedes poner lógica adicional aquí si es necesario
        talleElegido = nuevoTalle;

    }

    private void HandleColorChanged(string nuevoColor)
    {
        colorElegido = nuevoColor;
        ObtenerCantidad(); // Call ObtenerCantidad after updating colorElegido
    }

    private bool FilterFunc(ArticuloStockViewModel art)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (art.Articulo.Descripcion.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (art.Articulo.IdCodigo.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        // if (articuloDTO.Descripcion.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (articuloDTO.IdCodigo.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        return false;
    }

    private async void AgregarArticulo(int idArticulo)
    {
        if (idArticulo != 0 && cantidadElegida != 0)
        {

            try
            {
                var articulo = await _articuloServicio.ObtenerArticulo(idArticulo);

                if (!stockTabla.Any(stock => stock.IdArticulo == articulo.IdCodigo && stock.Talle.DescripcionTalle == talleElegido && stock.Color.DescripcionColor == colorElegido))
                {

                    Stock stock1 = new Stock()
                        {
                            Cantidad = cantidadElegida,
                            Color = new ColorArticulo() { DescripcionColor = colorElegido },
                            Talle = new Talle() { DescripcionTalle = talleElegido },
                            IdArticulo = articulo.IdCodigo,
                            Articulo = new Articulo() { CodigoTienda = idArticulo },
                        };

                    var articuloStockViewModel = new ArticuloStockViewModel
                        {
                            Articulo = articulo,
                            Stock = stock1,
                            Cantidad = cantidadElegida // Quantity chosen by the user
                        };

                    int cant = await _stockServicio.ObtenerCantidad(idArticulo, talleElegido, colorElegido);
                    stockTabla.Add(stock1);

                    if (cant >= cantidadElegida)
                    {
                        var result = _stockServicio.ModificarCantidadStock(codigoTienda, talleElegido, colorElegido, stock1);


                        if (result != null)
                        {
                            LineaDeVenta lineaDeVenta = new LineaDeVenta();
                            lineaDeVenta.IdArticulo = articulo.IdCodigo;
                            lineaDeVenta.Cantidad = cantidadElegida;
                            lineaDeVenta.IdVenta = venta1.IdVenta;
                            var response = await _lineadeventaServicio.AgregarLineaDeVenta(lineaDeVenta);
                            listaLDV.Add(lineaDeVenta);

                            if (response != null)
                            {
                                // listaArticulos.Add(articulo);
                                listaArticulosModel.Add(articuloStockViewModel);
                                listaArticuloss.Add(articulo);
                                venta1.Total += (decimal)(articulo.PrecioDeVenta * cantidadElegida);
                                Snackbar.Add("Articulo agregado", Severity.Success);

                                talleElegido = "";
                                colorElegido = "";
                                cantidadElegida = 0;
                                cantidadMaxima = 0;

                                

                                StateHasChanged();
                            }
                            else
                            {
                                Snackbar.Add("No se pudo agregar el articulo a la linea de venta", Severity.Error);
                            }
                        }
                    }
                    else
                    {
                        Snackbar.Add("Cantidad de producto solicitada mayor a existente!", Severity.Error);
                    }

                }
                else
                {
                    Snackbar.Add("Articulo ya esta agregado", Severity.Warning);
                }
            }

            catch (Exception ex)
            {
                Snackbar.Add("Codigo Invalido", Severity.Warning);
            }



        }
        else
        {
            Snackbar.Add("Codigo Invalido/Cantidad elegida = 0 ", Severity.Warning);
        }
    }

    private async void ObtenerStock(int codigoTienda)
    {
        if (codigoTienda != 0)
        {
            try
            {
                var stockdb = await _stockServicio.ObtenerStock(codigoTienda);
                foreach (var stock1 in stockdb)
                {
                    ListaStock.Add(stock1);
                }
                StateHasChanged();
                Snackbar.Add("Codigo Valido", Severity.Success);


            }
            catch (Exception ex)
            {
                Snackbar.Add("Codigo Invalido", Severity.Warning);
            }

        }
        else
        {
            Snackbar.Add("Codigo Invalido", Severity.Warning);
        }
    }

    private async void EliminarArticulo(int idArticulo)
    {
        var articulo = listaArticuloss.FirstOrDefault(a => a.IdCodigo == idArticulo);



         var stockElegido = ListaStock.FirstOrDefault(s => s.IdArticulo == idArticulo && s.Talle.DescripcionTalle == talleElegido && s.Color.DescripcionColor == colorElegido);

        int cant = await _stockServicio.ObtenerCantidad(articulo.CodigoTienda, stockElegido.Talle.DescripcionTalle, stockElegido.Color.DescripcionColor);

        venta1.Total -= (decimal)articulo.PrecioDeVenta * cant;

        LineaDeVenta ultimaLDV = await _lineadeventaServicio.ObtenerUltimaLineaDeVenta();


        var response = await _lineadeventaServicio.EliminarLineaDeVenta(ultimaLDV.IdLineaDeVenta);
        if (response != null)
        {
            Snackbar.Add("Línea de venta eliminada", Severity.Success);
            Stock stock1 = new Stock();
            stock1.Cantidad = cantidadElegida;

            //A revisar
            var result = _stockServicio.AgregarCantidadStock(articulo.CodigoTienda, talleElegido, colorElegido, stock1);
            if (result != null)
            {
                Snackbar.Add("Stock modificado", Severity.Success);
                StateHasChanged();
                listaArticuloss.Remove(articulo);
            }
        }
        else
        {
            Snackbar.Add("Línea de venta no eliminada", Severity.Error);
        }


        StateHasChanged();
        Snackbar.Add("Artículo eliminado", Severity.Warning);
    }

    private async void ObtenerCantidad()
    {
        if (talleElegido != "" && colorElegido != "")
        {
            var result = await _stockServicio.ObtenerCantidad(codigoTienda, talleElegido, colorElegido);
            if (result != null)
            {
                cantidadMaxima = result; // Or any default value you want
                StateHasChanged();
            }
        }
        
    }

    private async void Pagar()
    {

        if(venta1.Total!=0)
        {
            var response = await _ventaServicio.ModificarVenta(venta1.IdVenta, venta1);
            _navManager.NavigateTo("/realizarpago");
            Snackbar.Add("Pagó", Severity.Success);
        }

        else
        {
            Snackbar.Add("Agregue productos a la venta", Severity.Error);
        }



    }

    private async void CancelarVenta()
    {
        

        var response = await _ventaServicio.EliminarVenta(venta1.IdVenta);
        if (response != null)
        {
            listaArticuloss.Clear();
            Total = 0;
            _navManager.NavigateTo("/");
        }
    }

    private void IrAPagina()
    {
        _navManager.NavigateTo("/realizarpago");
    }


    public class ArticuloStockViewModel
    {
        public Articulo Articulo { get; set; }
        public Stock Stock { get; set; }
        public int Cantidad { get; set; } // Quantity selected by the user
    }

}
